<% @page_title = "Bondstrand Pipe Repair" %>
<% @page_description = "New Subject" %>

	<script>document.documentElement.className = 'js';</script>
	<section class="demo-1">
		<main>
			<div class="segmenter"></div>
			<div class="trigger-headline trigger-headline--hidden">
				<h1>BONDSTRAND PIPE REPAIR</h1>
				<h2>MANATEE SHIP REPAIR &amp; FABRICATION</h2>
			</div>
		</main>
		<script>
		(function() {
			var headline = document.querySelector('.trigger-headline'),
				trigger = document.querySelector('.segmenter'),
				segmenter = new Segmenter(document.querySelector('.segmenter'), {
					onReady: function() {
							segmenter.animate();
							headline.classList.remove('trigger-headline--hidden');
					}
				});
		})();
		</script>
	</section>

	<section class="main-content">
		<div class="container">
			When you choose to hire Manatee Ship Repair &amp; Fabrication to complete a job you need done, you have selected people with a history of prompt, cost effective service and attention to detail.
			<br>
				BONDSTRAND PIPE REPAIR AND FABRICATION SPECIALISTS<br>
				Manatee Ship Repair and Fabrication is a specialist in Bondstrand pipe repairs and fabrication. The standard Bondstrand diameter range varies from 1″ up to 40″ and divers pressure classes up to 50 bar. Larger diameters and higher-pressure classes are also available. Bondstrand pipe has incredibly strong physical properties and is resistant against the most severe chemical and mechanical forces. Bondstrand products are resistant against more than 300 different kind of aggressive chemicals and fluids. Bondstrand can be used in a temperature of maximum 121 degree Celsius. <br>

				Bondstrand pipes and fittings can be used in different vessel applications, for example:<br>

				Ballast systems<br>
				Brackish water<br>
				Cooling water<br>
				Corrosive fluids<br>
				Crude oil transport<br>
				Offshore piping<br>
				Potable water<br>
				Process water<br>
				Saltwater transport<br>
				Seawater<br>
				Steam condensate<br>
				Vapour recovery systems<br>
				Water transmission<br>
				Water treatment<br>
				But we are also a fabrication company, so whatever your Bondstrand needs, land or sea, we can accommodate your project. Bondstrand can be used for underground as well as above ground applications. The installation of Bondstrand products has, besides the advantage of a fast processing as a result of the simple join-system and the light weight (approximately 1/3 of the weight of steel piping), more advantages compared to steel piping systems:

				Corrosion resistant<br>
				Pipe lengths up to 12 meter<br>
				UV resistant<br>
				Long lifetime (50 years)<br>
				Low maintenance costs<br>
				Lower operational costs during total lifecycle<br>
				Availability of conductive systems<br>
				Durability<br>
				Contact us today for your Bondstrand Repair and fabrication needs.<br>
	</div>
</section>
