<% @page_title = "Bondstrand Pipe Repair" %>
<% @page_description = "New Subject" %>


  <div class="custom-hd"><div class="overlay">
	  <h1>Bondstrand Pipe Repair</h1>
		<h4>Manatee specializes in Bondstrand pipe repair and fabrication.</h4>
  </div></div>

	<div class="intro-banner-alt">
		<div class="inner">
			<div class="block0">
				<h2>Why Should You Use Bondstrand?</h2>
			</div>

			<div class="block1">
				<p class="bmargin3">Bondstrand pipe has incredibly strong physical properties.</p>
				<p class="bmargin3">It can be used for applications both above and underground.</p>
				<p>Bondstrand products are resistant to over 300 different kinds of aggressive chemicals and fluids, and most mechanical forces.</p>
				<p>It can be used in temperatures up to 121 degrees Celsius.</p>
				<div class="clearfix"></div>
				<p class="nobef">While the standard Bondstrand diameter ranges from 1″ to 40″, and divers pressure classes up to 50 bar, larger diameters and higher-pressure classes are also available.</p>
			</div>
		</div>
	</div>

	<div class="services-s2">
		<div class="overlay">
			<div class="body">
				<div class="box1">
					<h3>There are a number of advantages to using Bondstrand products instead of steel piping systems.</h3>
					<hr>
					<div class="col-md-10 col-md-offset-1 resp-1">
						<p><b>One major advantage is Bondstrand's fast processing.</b><br> This is a result of its simple join-system and light weight (Bondstrand is approximately 1/3 of the weight of steel piping).<br> Other advantages include:</p>
					</div>

					<ul>
						<li>Corrosion resistant</li>
						<li>Pipe lengths up to 12 meter</li>
						<li>UV resistant</li>
						<li>Long lifetime (50 years)</li>
						<li>Low maintenance costs</li>
						<li>Lower operational costs during lifecycle</li>
						<li>Availability of conductive systems</li>
						<li>Durability</li>
					</ul>
				</div>

				<div class="box2">
					<div class="box-padding">
					<h3>Bondstrand pipes and fittings can be used in many different vessel applications. </h3>
					<ul>
						<li>Ballast systems</li>
						<li>Brackish water</li>
						<li>Cooling water</li>
						<li>Corrosive fluids</li>
						<li>Crude oil transport</li>
						<li>Offshore piping</li>
						<li>Potable water</li>
						<li>Process water</li>
						<li>Saltwater transport</li>
						<li>Seawater</li>
						<li>Steam condensate</li>
						<li>Vapour recovery systems</li>
						<li>Water transmission</li>
						<li>Water treatment</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="link">
				<div class="contact-link">
					<div class="overlay">
						<div class="col-md-6"><span>Since Manatee is also a fabrication company, our team has the ability to accommodate any Bondstrand projects, land or sea. </span></div>
						<div class="col-md-6"><p>Contact us for more information on Bondstrand services: <br>941-417-2613</p></div>
					</div>
				</div>
			</div>
