<% @page_title = "Contact Us" %>
<% @page_description = "New Subject" %>

  <%= render 'static_pages/segmenter' %>

	<section class="main-section">
		<div class="banner">
			<div class="container">
				<div class="col-md-6">
					<p>
						Manatee Ship Repair &amp; Fabrication promises nothing less than the prompt, quality service on which we built our company.
						Contact us today for more information, or to request a quote for your specific vessel repair and fabrication needs.
					</p>
				</div>

				<div class="col-md-5 col-md-offset-1">
					<h4>941-417-2613</h4>
		    	<h4>info@manateeshiprepair.com</h4>
				</div>
			</div>
		</div>



		<div class="contact-box">
			<div class="container">

				<p>We are located in Tampa Bay’s first port of call, Port Manatee.</p>
				<div class="col-md-4">
					<h4>Port Manatee Ship Repair and Fabrication, LLC<br>
						PO Box 2547<br>
						Oldsmar, FL 34677<br>
					</h4>
				</div>

				<div class="col-md-4">
					<h4>Shipping address:<br>
						210 National Street<br>
						Palmetto, FL 34221<br>
						<%= link_to('View Map', 'https://www.google.com/maps/place/210+National+St,+Palmetto,+FL+34221/@27.636639,-82.562465,17z/data=!3m1!4b1!4m2!3m1!1s0x88c31f55f1c85bf3:0x3bd919b1c72ddc3', target: '_blank') %>
					</h4>
				</div>

				<div class="col-md-4">
					<h4>Located in the Port of Manatee<br>
						13604 Reeder Road<br>
						Palmetto, FL 34221<br>
						<%= link_to('View Map', 'https://www.google.com/maps/place/13604+Reeder+Rd,+Palmetto,+FL+34221/@27.6373153,-82.5481234,15z/data=!4m2!3m1!1s0x88c321f1253d981d:0x94e36849ead2e9a4', target: '_blank') %>
					</h4>
				</div>
			</div>

			<div class="clearfix"></div><br><br>
			<hr>
			<div class="clearfix"></div><br><br>

			<div class="col-md-5 col-md-offset-1">
					<h4>Frank Kerney <br>908 285 0912<br> frank@manateeshiprepair.com</h4>
				</div>

				<div class="col-md-5 col-md-offset-1">
					<h4>Jim Braukman <br>727 212 5234<br> jim@manateeshiprepair.com</h4>
				</div>
		</div>
	</section>
