<% @page_title = "Manatee Ship Repair & Fabrication" %>
<% @page_description = "New Subject" %>

  <%= render 'static_pages/segmenter' %>

	<section class="main-content">
		<div class="container">
			<div class="banner one">
				<h3>Strategically located at the mouth of the Tampa Bay</h3>
				<h4>Manatee Ship Repair &amp; Fabrication offers convenient service for all vessels trading in the Gulf of Mexico and Western Caribbean Sea. Our company leaders have over 80 years of combined experience in vessel repair and fabrication.</h4>
			</div>

			<div class="row mc-1">
					<div class="col-md-4 img-hlf">
						<%= image_tag('manatee3.jpg', alt: 'Manatee Ship Repair and Fabrication, property image', class: 'img-responsive img1') %> <br>
							<div class="col-md-6 pleft-0"><%= image_tag('manatee3.jpg', alt: 'Manatee Ship Repair and Fabrication, property image', class: 'img-responsive img2') %></div>
							<div class="col-md-6 pright-0"><%= image_tag('manatee3.jpg', alt: 'Manatee Ship Repair and Fabrication, property image', class: 'img-responsive img3') %></div>
					</div>

					<div class="col-md-8 text-hlf">
							<h3><span>We offer</span><br>
								Topside Ship Repairs of all Nature</h3>

							<h3><span>We specialize in</span><br>
								Bondstrand Pipe Repair and Fabrication</h3>

							<h3><span>We have a reputation for</span><br>
								Prompt, Cost Effective Service, and Attention to Detail</h3>
					</div>
			</div>


		<!-- Valves, Pumps, Winches, Hatch Covers, Structural Repairs, Air Conditioning, Electrical, Hydraulic Systems, Pneumatic Systems, Joinery -->

		<!-- We would be honored to bid your repair job and earn your business. Contact us today by phone or email for prompt service and availability. -->
	</div>
</section>
<!--Manatee Ship Repair and Fabrication has a history of prompt, cost effective service, and attention to detail.
Contact us today for an estimate on your vessel repair or fabrication project.-->
