<% @page_title = "Project Gallery" %>
<% @page_description = "New Subject" %>

	<div class="custom-hd">
		<h1>Manatee Project Gallery </h1>
	</div>

<section class="project-gallery">
	<div>
		<% $i = 0 %>
		<% $max = 86 %>
		<% while $i < $max  do %>
			<% tag = $i +=1 %>
			<% link = "https://s3.amazonaws.com/manatee-ship/gallery/manatee-gallery"+"#{tag}"+".jpg" %>
			<% target = "https://s3.amazonaws.com/manatee-ship/gallery/manatee-gallery"+"#{tag}"+".jpg" %>

			<%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY'), image_path("#{target}"), data: { lightbox: "example-set"}) %>
		<% end %>
	</div>
</section>


<!--<%= link_to(image_tag('https://s3.amazonaws.com/manatee-ship/gallery/manatee-gallery1.jpg', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - Image 1', class: 'img-responsive gall'), image_path('https://s3.amazonaws.com/manatee-ship/gallery/manatee-gallery1.jpg'), data: { lightbox: "example-set", title: 'Image 1' }) %>-->
