<% @page_title = "Our Services" %>
<% @page_description = "New Subject" %>

  <%= render 'static_pages/segmenter' %>

		<div class="intro-banner">
			<div class="block1">
				<%= image_tag('shiplift.jpg', alt: '', class: 'img-respnsive') %>
				<div class="text">
					<h4>Manatee Ship Repair &amp; Fabrication guarantees prompt, expert service and high-quality results on every project.</h4>
					<p>We are conveniently located in Port Manatee (the first port of call in Tampa Bay), for all vessels trading in the Gulf of Mexico, Southeastern U.S., and the Caribbean. Our team is made up of professionals with decades of experience working vessel repair and fabrication jobs.
					</p>
					<div class="contact-link">Contact us today for a vessel repair or fabrication estimate.</div>
				</div>
			</div>
		</div>

	<!-- <div class="top">
		<h3>We offer the following vessel repair and fabrication services:</h3>
	</div> -->

	<section class="lists">
		<div class="block2">
			<h3>We offer the following vessel repair and fabrication services:</h3>

			<div class="one">
				<h4>Topside Ship repairs of any nature</h4>
				<ul>
					<li>Valves</li>
					<li>Pumps</li>
					<li>Winches</li>
					<li>Hatch Covers</li>
					<li>Structural Repairs</li>
					<li>Air conditioning</li>
					<li>Electrical</li>
					<li>Hydraulic Systems</li>
					<li>Pneumatic</li>
					<li>Joinery</li>
				</ul>
			</div>

			<div class="two">
				<h4>Structural Fabrication</h4>
				<ul>
					<li>Mild Steel</li>
					<li>Aluminum</li>
					<li>Stainless Steel</li>
				</ul>

				<h4>Pipe Fabrication and Repairs</h4>
				<ul>
					<li>Mild Steel</li>
					<li>Aluminum</li>
					<li>Stainless Steel</li>
					<li>Copper Nickel</li>
					<li>Bondstrand</li>
				</ul>
				<h4 class="last" ">Ballast Water Treatment Systems</h4>
			</div>
		</div>

	</section>
