<% @page_title = "Our Services" %>
<% @page_description = "New Subject" %>

	<script>document.documentElement.className = 'js';</script>
	<section class="demo-1">
		<main>
			<div class="segmenter"></div>
			<div class="trigger-headline trigger-headline--hidden">
				<h1>OUR SERVICES</h1>
				<h2>MANATEE SHIP REPAIR &amp; FABRICATION</h2>
			</div>
		</main>
		<script>
		(function() {
			var headline = document.querySelector('.trigger-headline'),
				trigger = document.querySelector('.segmenter'),
				segmenter = new Segmenter(document.querySelector('.segmenter'), {
					onReady: function() {
							segmenter.animate();
							headline.classList.remove('trigger-headline--hidden');
					}
				});
		})();
		</script>
	</section>

	<section class="main-section">
		<div class="intro-box">
			<div class="top">
				<p>
					When you choose to hire us, you gain access to our team of professionals with decades of experience working vessel repair and fabrication jobs.
					We are conveniently located in Port Manatee (the first port of call in Tampa Bay), for all vessels trading in the Gulf of Mexico, Southeastern U.S., and the Caribbean.
				</p>
			</div>

			<div class="bottom">
				<h4>Contact us today for an estimate on your vessel repair or fabrication project.</h4>
			</div>
		</div>

		<div class="content-box">
			<h5>Manatee Ship Repair &amp; Fabrication offers the following vessel repair and fabrication services:</h5>

					<h4>Topside Ship repairs of any nature</h4>
					<ul>
						<li>Valves</li>
						<li>Pumps</li>
						<li>Winches</li>
						<li>Hatch Covers</li>
						<li>Structural Repairs</li>
						<li>Air conditioning</li>
						<li>Electrical</li>
						<li>Hydraulic Systems</li>
						<li>Pneumatic</li>
						<li>Joinery</li>
					</ul>

					<h4>Ballast Water Treatment Systems</h4>
					<h4>Structural Fabrication</h4>
					<ul>
						<li>Mild Steel</li>
						<li>Aluminum</li>
						<li>Stainless Steel</li>
					</ul>

					<h4>Pipe Fabrication and Repairs</h4>
					<ul>
						<li>Mild Steel</li>
						<li>Aluminum</li>
						<li>Stainless Steel</li>
						<li>Copper Nickel</li>
						<li>Bondstrand</li>
					</ul>

		</div>
	</section>
