<% @page_title = "Our Services" %>
<% @page_description = "New Subject" %>



<div class="custom-hd">
	<h1>Our Services</h1>
</div>

<div class="intro-banner-alt">
	<div class="inner">
		<div class="block1">
			<h4>Manatee Ship Repair &amp; Fabrication guarantees prompt, expert service on every project, start to finish.</h4>
			<p>We are conveniently located in Port Manatee (the first port of call in Tampa Bay), for all vessels trading in the Gulf of Mexico, Southeastern U.S., and the Caribbean. Our team is made up of professionals with decades of experience working vessel repair and fabrication jobs.</p>
		</div>

		<div class="link">
			<div class="contact-link">
				<div class="overlay">Contact us today for a vessel repair or fabrication estimate: <br>941-417-2613</div>
			</div>
		</div>
	</div>
</div>


<section class="services-s2">
	<div class="overlay">
			<div class="col-md-12 text-center">
				<h3 class="section_header">What Can We Do For You?</h3>
			</div>

				<div class="col-md-5">
					<div class="box-padding topside">
						<div class="teaser">
							<div class="round-icon">
								<i class="rt-icon2-directions_ferry highlight"></i>
							</div>
						</div>
						<h3>Topside Ship Repairs<br> <span>of all Nature</span></h3>
						<ul>
							<li>Valves</li>
							<li>Pumps</li>
							<li>Winches</li>
							<li>Hatch Covers</li>
							<li>Structural Repairs</li>
							<li>Air conditioning</li>
							<li>Electrical</li>
							<li>Hydraulic Systems</li>
							<li>Pneumatic</li>
							<li>Joinery</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3">
					<div class="box-padding fab">
						<div class="teaser">
							<div class="round-icon">
								<i class="icon-gas-flaring highlight"></i>
							</div>
						</div>
						<h3>Structural Fabrication</h3>
						<ul>
							<li>Mild Steel</li>
							<li>Aluminum</li>
							<li>Stainless Steel</li>
						</ul>
					</div>

					<div class="box-padding ballast">
						<div class="teaser">
							<div class="round-icon">
								<i class="icon-oil-platform highlight"></i>
							</div>
						</div>
						<h3>Ballast Water Treatment Systems</h3>
					</div>
				</div>

				<div class="col-md-4">
					<div class="box-padding pipes">
						<div class="teaser">
							<div class="round-icon">
								<i class="icon-oil-pump highlight"></i>
							</div>
						</div>
						<h3>Pipe Fabrication<br> and Repairs</h3>
						<ul>
							<li>Mild Steel</li>
							<li>Aluminum</li>
							<li>Stainless Steel</li>
							<li>Copper Nickel</li>
							<li>Bondstrand</li>
						</ul>
					</div>
				</div>
	</div>
</section>
