@import "mixins";
@import "variables";


header.h1 {
		@include sec-default();
		background-color: $white;
		padding-top:25px;
		height:80px;
		// height: 125px;

	.top {@include sec-default(); padding: 4px 25px; background-color: $dk-blue;
		.phone, .contact {display: inline-block; float: left; color: $white;}
		.contact {float: right;}
	}

	.header-box{
		// margin-top: 40px;
		width: 75%; @include center-block(); background-color: $dk-blue; position: relative; z-index: 10; height:115px;

		.logo-block {width: 25%; display: inline-block; float: left; position: relative; background-color: $white; height: 100%; padding:5px;}
		.info-block {width: 75%; display: inline-block; color: $white; padding: 20px 0 8px; text-align: center;
			.phone, .quote, .contact {display: inline-block; width: 30%; margin:auto;}
			.phone {float: left;}
			.contact {float: none;}
			.quote {font-weight: bold;}
		}

		hr.header {width:90%; margin: 5px auto 0px; border-top: 1px solid rgba($offwhite, .3);}

		.nav-bottom {
			@include sec-default(); text-align: center;
		 	background-color: $dk-blue; }

			li.menu-item {display: inline-block; padding-top: 20px; margin-right: 50px;
				a {color: $offwhite; font-size: 15px; }
			}
	}
}
@include bp(md) {

	.header-box{ width: 90%;
		.info-block { padding: 15px 10px;}
	}
}

header.header-s3 {
	@include sec-default();background-color: $dk-blue;
	position: relative;
	padding:0;
	top: 0;
	clear: both;

	&:before {
		width: 28%;
		border-bottom: 0 solid $white;
		border-top: 110px solid $white;
		border-left: 0 solid transparent;
		border-right: 80px solid transparent;
		content: "";
		height: 100%;
		top: 0;
		left:0;
		position: absolute;
	}


	.logo-block {width: 20%; background-color: $white; display: inline-block; float: left; position: relative; .logo-img { width: 80%;float: right;padding: 5px 0;}}

	.info-block {width: 80%; display: inline-block; color: $black; text-align: center; float: right;
		.top-hlf {@include sec-default(); background-color: $dark;}
		.phone, .quote, .contact {display: inline-block; width: 30%; margin:auto; padding-top:5px; color:$white;}
	}
	hr.header {width:90%; margin: 5px auto 15px; border-top: 1px solid rgba($gray, .2);}
	li.menu-item {display: inline-block; margin-right: 50px; margin-top:10px;
		a {color: $white; font-size: 15px; }
	}
}

header.header-style {
	@include sec-default(); background-color: $white;
	.logo-block,.phone, .quote, .contact {width: 22%; display: inline-block; float: left; height:100%;}
	.logo-block { margin-right: 60px;}
	.phone, .quote, .contact {margin-top:55px;}

	.top{padding-bottom: 25px;}

	.nav-bottom {@include sec-default();
		background: darken($teal, 10%);
		// background: -webkit-gradient(linear, left top, right top, color-stop(0%, $teal), color-stop(100%, $dark));
		// background: -webkit-linear-gradient(left, $teal 0%, $dark 100%);
		// background: linear-gradient(to right, $teal 0%, $dark 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mainColor', endColorstr='$mainColor2',GradientType=1 );
		text-align: center;
		ul {margin-bottom: 0;}
		li {display: inline-block;position: relative; padding: 15px 40px;

			&:before,
		  &:last-child:after {
				content: '';
				width: 1px;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(255, 255, 255, 0.3);
			}

			&:last-child:after {
				right: 0;
				left: auto;
			}

			a{color: $white; font-weight: bold; text-transform: uppercase;}
		}
	}
}
