// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";
.segmenter {@include sec-bgimage();}
.main-content {
	@include sec-default();
	padding: 25px 0;
	@include bp(md) {padding: 15px 0; }
}

.simple-header {@include sec-default();}

.custom-hd {
	@include sec-default();
	background-color: $light;
	@include sec-bgimage();
	background-attachment: fixed;
	background-image: url(image_path('industry.png'));
	padding: 30px 50px 0px;
	text-align: center;
	h1{ text-transform:uppercase; font-weight: bold; font-size: 3vw; margin-top:40px; margin-bottom: 0; color: $dk-teal; }
}

.bg-slant {
	position: relative;
	top: 0;
	clear: both;

	&:before, &:after {
		border-top: 0 solid $white;
		border-bottom: 450px solid $white;
		top: 0;
		width: 40%;
		content: "";
		height: 100%;
		position: absolute;
	}
	&:before {
		border-left: 0 solid transparent;
		border-right: 300px solid transparent;
		left:0;
	}

	&:after {
		border-right: 0 solid transparent;
		border-left: 600px solid transparent;
		right:0;
	}
}

.trigger-headline {color: $white; @include tshadow ($dark); padding-top:15%;
	h1 {letter-spacing: 4vw; font-weight: bold; font-size: 6vw; margin-bottom: 0;
		span {padding: 0 2vw; font-weight: bold; font-size: 6vw;}
	}
	h2 {letter-spacing: 1vw; font-weight: bold; font-size: 3vw; margin-top: 0;
		span {padding: 0 1vw; font-weight: bold; font-size: 3vw;}
	}
}

.teaser {
	position: relative;
	overflow: visible;

	.round-icon{font-size: 35px;border-radius: 50%;
		width: 2em;
		height: 2em;
		text-align: center;
		vertical-align: bottom;
		@include ease();background-color: $dk-teal;

		i {line-height: 2em;@include ease();
			font-size: 1.8em;
			line-height: 1.3em;
			color: $teal;
		}
	}

 	hr {margin: 10px 0 15px; width:75%;}
	h4 {margin-top: 25px;margin-bottom: 0px; line-height: 1em; font-weight:bold;}
	&:hover .round-icon {background-color: $teal;}
	&:hover .round-icon i {color: $dark;}
}

.services-s2 {
	@include sec-default();
	@include sec-bgimage();
	background-image: url(image_path('cranes-bay.jpg'));
	.overlay{@include sec-default(); height:100%; padding: 60px 75px; background-color: rgba($dk-teal, .95);}

	h3.section_header {font-weight: bold; font-size: 30px; font-family: $kanit; color: $white; margin-bottom:25px;}

	.box-padding {
		background-color: $white;
		padding:20px 15px;
		border-bottom: 4px solid $teal;

		&.fab {padding:10px 15px 5px;}
		&.ballast {margin-top:20px; padding:10px 10px 5px;}

		h3 {color: $teal; font-family: $kanit; text-align: center; text-transform: uppercase; margin-top:15px; line-height: 1.1em;
			span{font-size: 20px;}
		}
		.image_icon {@include center-block(); text-align: center;}
		ul {padding: 0 25px;}
		li { font-weight: bold; font-size: 18px; border-bottom: 1px solid rgba($dk-teal, 0.12); padding:15px 0; font-family: $open;
			color: $dark;
		 // color: #c5c8e1;
			&:last-child {border-bottom: none; padding-bottom: 0}
		}

		.round-icon { @include center-block(); background-color: $teal; i{color: $dk-teal;} }

		&.topside {
			ul {padding: 0 5px;}
			li {display: inline-block; margin-left: 20px;
				 width: 45%;
				 // width: 30%;
				&:nth-child(2n+2) {float: right;}
				&:nth-child(9) {border-bottom: none; padding-bottom: 0}
				// &:nth-child(3n+3) { float: right}
			}
		}
	}
}

.home {
	.segmenter {
		height: 85vh;
		background-image: url(image_path('manatee1.jpg'));
		background-position: center center;
	}
	.trigger-headline { padding-top:13.5%;}

	.intro-card {height: 390px;margin-top: 40px;margin-bottom: 55px; width: 85%; @include center-block(); padding:40px;
		background-color: $sand; @include sec-bgimage(); background-size: 40%; background-image: url(image_path('msr1.jpg'));

		.block.left{display: inline-block; width: 45%; float: left;  background-color: $white; padding:8px; box-shadow: 10px 5px 40px rgba($dark, .3); position: relative;}
		.block.right {display:inline-block; width: 50%; margin-left: 3%; text-align: center; margin-top: 15px;}
		h3 {margin-bottom: 15px; font-weight: bold; text-transform: uppercase; font-size: 22px;}
		p { padding: 0 15px;
			&.last {font-weight: bold; margin-bottom: 40px;}
		}
		.service-link {
			display: inline-block; width: 40%;
			border: 2px solid $blue;background-color: $blue;
			color: $white; padding: 10px; font-size: 16px;
			@include ease ();
			&.left {margin-right:7%;}
			&:hover {background-color: $dk-blue;}
		}
	}

	.bg-overlay {@include sec-default();
		.inner {width:80%; @include center-block();}
		h3 { font-weight: bold; text-transform: uppercase; margin-bottom: 10px; color: $sand; span {font-weight: normal;font-size: 18px;}}

		.left, .right {height: 350px;display: inline-block; position: relative; z-index: 0; @include sec-bgimage();
			&::before {@include before();background-color: rgba($dark, .85);}
		}
		.left { width:65%;  float: left; background-image: url(image_path('manatee3.jpg')); padding: 55px 0px;

			h3, h4, p {color: $sand;}
			p { padding: 0 15px;
				&.last {font-weight: bold; font-size: 17px;}
			}
			h4 {margin-bottom: 4px;}
			.title-line{width: 45%; height: 1px; border-top: 1px solid rgba($sand,.5); margin-bottom: 25px;}
		}

		.right { width:34%; float: right; padding: 50px 20px 0; background-image: url(image_path('msr1.jpg'));
			.inner { border: 1px solid $white; padding:30px 40px 20px; text-align: center;}
			h3 {line-height: 1.5em;}
		}

	}


	// .mc-1 {padding: 30px 0px;
	// 	h3 {font-size: 20px; line-height: 1.2em; position: relative; padding-left: 60px; margin-bottom: 30px;
	// 		span {font-size: 16px; color: $blue; font-weight: bold; font-family: $oxy; }

	// 		&::before {
	// 			content: " ";
	// 			position: absolute;
	// 			width: 55px; height: 55px;
	// 			top:0;
	// 			left:0;
	// 			@include sec-bgimage();
	// 			background-image: url(image_path('anchor.png'));
	// 		}
	// 	}
	// }

	@include bp(md) {
		.segmenter {height:50vh;}
		.trigger-headline {padding-top:27%;}

		.banner {padding: 0px;
			&.one {width: 95%;}
			h3 {font-size: 22px;}
		}

		.mc-1 {
			.img2, .img3 {display: none;}
			h3 {font-size: 19px;}
		}
	}
}

.bondstrand-pipe {

	.custom-hd {text-align: left; padding:0;
		.overlay{@include sec-default(); background-color: rgba($light, .5); padding: 30px 50px 0;}
	}
	h1 {margin-bottom: 0; line-height: 1em; }
	h4 {font-weight: bold;}
	.intro-banner-alt { @include sec-default(); padding:60px 0;
		.inner {width: 80%; @include center-block();}
		.block0 {width:25%; float: left; display: inline-block;}
		.block1 {width:75%; padding: 0 50px; float: left; display: inline-block;}

		h4 {font-size: 16px;}
		.block1 p {padding: 0px 20px; position: relative; float: left; width:45%; display: inline-block;
			&::before {content: ''; position: absolute; left: 5px; top:5px; height: 30px; width:4px; background-color: $teal;}
			&.nobef {width:100%; padding:0; &:before {display: none;}}
		}
		h2 { font-weight: bold; color: $teal; font-family: $kanit; font-size: 40px;}
	}

	.link {@include center-block(); width: 65%; }
	.contact-link {margin: 30px 0; @include sec-default();text-align: center; color: $dark; font-size: 19px; font-weight: bold;font-family: $kanit;
		p{font-size: 22px; color: $white; @include tshadowl($dk-teal);}
		@include sec-bgimage(); background-image: url(image_path('map.png'));
		.overlay{@include sec-default(); height:100%; padding: 20px 30px 10px; background-color: rgba($teal, .8);}
	}

	.services-s2{h4 {color: $white;}}

	.box1 { float: left; width: 55%;
		h3 {font-weight: bold; color: $white; text-align: center;}
		hr {width:55%; @include center-block(); opacity: .4;}
		p {color: $white;text-align: center;}
		ul {padding-left:0;}
		li { display: inline-block; width: 48%; float: left; text-align:right; font-size: 16px; color: $teal; margin-bottom:8px;
			&:nth-child(2n+2){float: right; text-align: left;}
		}
	}
	.box2 { float: right; width: 43%;}
	.box-padding {@include sec-default(); padding-top: 0px;
		li { font-weight: normal; font-size: 16px; padding:10px 0 5px; display: inline-block; width:49%; text-align: center;
			&:nth-child(13) {border-bottom: none; padding-bottom: 0}
		}
		h4 {color: $teal; text-align:center; font-size: 17px; font-weight: bold;}
		h3 {font-weight: bold; font-size:22px;}
	}
}

.photos, .gallery {
	.segmenter {
		height: 35vh;
		background-image: url(image_path('manatee1.jpg'));
	}
	.project-gallery {
		@include sec-default(); padding: 55px 40px;

		// .gall {width: 200px; height: 200px; display: inline-block; padding:5px; margin-bottom: 20px;}
		.gall {width: 19.5%; display: inline-block; padding:5px; margin-bottom: 20px;}
	}
}

.contact {
	.custom-hd{background-image: url(image_path('harbor.jpg'));background-position: bottom center;  background-attachment: scroll; padding:0; text-align: left;
		.overlay {@include sec-default(); background-color: rgba($dk-teal, .5);height: 180px; padding: 30px 50px 0;}
	}

	h1 {font-weight: bold; color: $white; font-family: $kanit; @include tshadow($dk-teal); }
	h2 {font-weight: bold; color: $dk-teal; font-family: $kanit; border: 3px solid $teal; margin-bottom:5px;}
	p.sub {font-weight: bold; position: relative; font-size: 17px; line-height: 1em; color: $dk-teal;
		&::before, &::after {content: ''; position: absolute; width:80px; height:10px; background-color: $teal; top:3px;}
		&::before {left: 0;}
		&::after {right: 0;}
	}


	.main-contact {@include sec-default(); background-color: $offwhite;}
	.contact-box { width: 65%; @include center-block(); padding: 20px 40px; background-color: $offwhite; text-align: center; margin-bottom: 50px;
		.block2, .block3 {display: inline-block; width: 35%; float: none; vertical-align: top; border: 1px solid #dfdfdf; margin-top: 25px; padding-top: 10px; height: 140px;}
		.block2{margin-right: 15px; h4{margin-top:20px;}}
		.block1 {@include center-block(); width:80%; }
	}

	.contact-body {text-align: center;}
	.map {background-color: $teal; color: $white; text-align: center; padding: 10px 20px; border-radius: 20px; }
	.map-br{margin-bottom: 10px;}


	.block-a {width: 30%; display: inline-block; float: left; text-align: center; padding: 20px 15px;
		@include sec-bgimage(); background-image: url(image_path('port-crane.jpg')); background-position:center center; position: relative;z-index: 0; margin-bottom:30px;
		&::before {@include before (); background-color: rgba($dark, .9);}
		// .card {@include sec-default(); padding-bottom: 0px; }
		h5 {text-transform: uppercase; color: $white; font-size: 16px; margin-bottom: 5px;}
		h4 {text-transform: uppercase; color: $teal; font-weight: bold;}
	}

	.block{width: 30%; height: 175px; background-color: $white; padding: 20px 25px; display: inline-block; margin-left: 25px; float: left;
		span {color: $teal; font-weight: bold; margin-bottom: 25px;}
		h4.address{padding-left: 20px;}
		a {font-weight: bold; }

		&.link{background-color: $teal; font-size: 20px; color: $white; text-align: center; padding: 20px 0; height: auto; margin-top:30px;}
	}
	.icon {width:40px; height: auto; @include center-block();}
}

.page {

	.custom-hd {
		@include sec-default();
		@include sec-bgimage();
		background-position: center center;
		background-image: url(image_path('msr8-bw.jpg'));
		position: relative;
		height:200px;
		z-index: 0;
		h1{ text-transform:uppercase; font-weight: bold; font-size: 3.5vw; float: right; padding-right:50px; color: $white; margin-top:120px; @include tshadow($black);}
	}

	.intro-banner-alt {@include sec-default();
		.block1 {width:65%; @include center-block(); background-color: $white; position: relative; z-index: 10; padding:60px 0 70px;}
		img{display: inline-block; width:31%; float: left; }
		.text {display: inline-block; width: 65%; float: none; padding: 15px 20px 20px;}
		h4 {color: $blue; font-weight: bold;}
		p {padding: 10px 20px;}
		.contact-link {@include sec-default(); padding:10px 5px; text-align: center; background-color: $blue; color: $white; font-size: 18px;margin-top: 10px;}
	}

	.section2 {
		@include sec-default();
		background-color: $offwhite;
		@include sec-bgimage();
		background-size: 80%;
		background-position: right center;
		background-image: url(image_path('msr1-bw.jpg'));
		position: relative;
		z-index: 0;
		&::before {@include before ();
			background: -webkit-linear-gradient(-100deg, rgba($dark, .9), rgba($dk-blue, .85));
			background: linear-gradient(-100deg, rgba($dark, .9), rgba($dk-blue, .85));
			left: 20%;
			width: 80%;
		}

		h4 {color: $blue; font-weight: bold; margin-bottom: 4px; text-transform: uppercase; span{font-weight: normal;}
			color:lighten($teal, 15%);
		}
		ul { padding-left: 15px; margin-bottom:15px;}
		li {margin-bottom: 10px; font-size: 16px; text-transform: uppercase;color:$white;}
		.lists { padding: 50px 0px 25px; width:70%; float: right;
			.uno, .dos {display: inline-block; margin-left: 5%;}
		}
		.contact-link { position: absolute; width:22%; left: 5%; margin-top: 10%; padding: 40px; text-align: center; background-color: $teal; color: $white; font-size: 20px;}
	}
}

.services {
	.intro-banner-alt { @include sec-default(); padding:60px 0;
		.inner {width: 80%; @include center-block();}

		.block1 {width:54%; padding: 0 50px; float: left;
			display: inline-block;
		}
		.link {display: inline-block;float: none; width:40%;}
		h4 {color: $blue; font-weight: bold;}
		p {padding: 10px 20px;}
		.contact-link {@include sec-default();text-align: center; color: $white; font-size: 22px; font-weight: bold; font-family: $kanit; text-transform: uppercase;
			@include sec-bgimage(); background-image: url(image_path('map.png'));
			.overlay{@include sec-default(); height:100%; padding: 40px; background-color: rgba($teal, .8);}
		}
	}

	i {font-size: 40px;}
}

