// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";
.segmenter {@include sec-bgimage();}
.main-content {
	@include sec-default();
	padding: 25px 0;
	@include bp(md) {padding: 15px 0; }
}

.bg-slant {
	position: relative;
	top: 0;
	clear: both;

	&:before, &:after {
		border-top: 0 solid $white;
		border-bottom: 450px solid $white;
		top: 0;
		width: 40%;
		content: "";
		height: 100%;
		position: absolute;
	}
	&:before {
		border-left: 0 solid transparent;
		border-right: 300px solid transparent;
		left:0;
	}

	&:after {
		border-right: 0 solid transparent;
		border-left: 600px solid transparent;
		right:0;
	}
}

.trigger-headline {color: $white; @include tshadow ($dark); padding-top:15%;
	h1 {letter-spacing: 4vw; font-weight: bold; font-size: 6vw; margin-bottom: 0;
		span {padding: 0 2vw; font-weight: bold; font-size: 6vw;}
	}
	h2 {letter-spacing: 1vw; font-weight: bold; font-size: 3vw; margin-top: 0;
		span {padding: 0 1vw; font-weight: bold; font-size: 3vw;}
	}
}

.home {
	.segmenter {
		height: 85vh;
		background-image: url(image_path('manatee1.jpg'));
		background-position: center center;
	}
	.trigger-headline { padding-top:13.5%;}

	.intro-card {height: 390px;margin-top: 40px;margin-bottom: 55px; width: 85%; @include center-block(); padding:40px;
		background-color: $sand; @include sec-bgimage(); background-size: 40%; background-image: url(image_path('msr1.jpg'));

		.block.left{display: inline-block; width: 45%; float: left;  background-color: $white; padding:8px; box-shadow: 10px 5px 40px rgba($dark, .3); position: relative;}
		.block.right {display:inline-block; width: 50%; margin-left: 3%; text-align: center; margin-top: 15px;}
		h3 {margin-bottom: 15px; font-weight: bold; text-transform: uppercase; font-size: 22px;}
		p { padding: 0 15px;
			&.last {font-weight: bold; margin-bottom: 40px;}
		}
		.service-link {
			display: inline-block; width: 40%;
			border: 2px solid $blue;background-color: $blue;
			color: $white; padding: 10px; font-size: 16px;
			@include ease ();
			&.left {margin-right:7%;}
			&:hover {background-color: $dk-blue;}
		}
	}

	.bg-overlay {@include sec-default();
		.inner {width:80%; @include center-block();}
		h3 { font-weight: bold; text-transform: uppercase; margin-bottom: 10px; color: $sand; span {font-weight: normal;font-size: 18px;}}

		.left, .right {height: 350px;display: inline-block; position: relative; z-index: 0; @include sec-bgimage();
			&::before {@include before();background-color: rgba($dark, .85);}
		}
		.left { width:65%;  float: left; background-image: url(image_path('manatee3.jpg')); padding: 55px 0px;

			h3, h4, p {color: $sand;}
			p { padding: 0 15px;
				&.last {font-weight: bold; font-size: 17px;}
			}
			h4 {margin-bottom: 4px;}
			.title-line{width: 45%; height: 1px; border-top: 1px solid rgba($sand,.5); margin-bottom: 25px;}
		}

		.right { width:34%; float: right; padding: 50px 20px 0; background-image: url(image_path('msr1.jpg'));
			.inner { border: 1px solid $white; padding:30px 40px 20px; text-align: center;}
			h3 {line-height: 1.5em;}
		}

	}


	// .mc-1 {padding: 30px 0px;
	// 	h3 {font-size: 20px; line-height: 1.2em; position: relative; padding-left: 60px; margin-bottom: 30px;
	// 		span {font-size: 16px; color: $blue; font-weight: bold; font-family: $oxy; }

	// 		&::before {
	// 			content: " ";
	// 			position: absolute;
	// 			width: 55px; height: 55px;
	// 			top:0;
	// 			left:0;
	// 			@include sec-bgimage();
	// 			background-image: url(image_path('anchor.png'));
	// 		}
	// 	}
	// }

	@include bp(md) {
		.segmenter {height:50vh;}
		.trigger-headline {padding-top:27%;}

		.banner {padding: 0px;
			&.one {width: 95%;}
			h3 {font-size: 22px;}
		}

		.mc-1 {
			.img2, .img3 {display: none;}
			h3 {font-size: 19px;}
		}
	}
}

.page {
	.segmenter {
		height: 40vh;
		z-index: 0;
		background-image: url(image_path('welding2.jpg'));
		background-position: center center;
	}

	.trigger-headline { padding-top:14%;
		h1 {letter-spacing: 1.5vw; font-weight: bold; font-size: 4vw;}
		h2 {letter-spacing: .7vw; font-weight: bold; font-size: 2vw;}
	}
	p {font-size: 16px; }

	.intro-banner {@include sec-default();
		.block1 {width:65%; @include center-block(); background-color: $white; position: relative; z-index: 10; padding:60px 0 70px;}
		img{display: inline-block; width:32%; float: left; }
		.text {display: inline-block; width: 68%; float: none; padding: 15px 20px 20px;}
		h4 {color: $blue; font-weight: bold;}
		p {padding: 10px;}
		.contact-link {@include sec-default(); padding:10px 5px; text-align: center; background-color: $blue; color: $white; font-size: 18px;margin-top: 20px;}
	}

	.top {@include sec-default(); padding: 20px 0 10px; background-color: $dk-blue; text-align: center;
		h3 {color: $white; text-transform: uppercase;}
	}

	.lists {@include sec-default(); background-color: $offwhite;
		// @include sec-bgimage();background-image: url(image_path('welding3.jpg'));background-size: 40%; background-position: center right;  position: relative; z-index: 0;
		// &::before {@include before(); width:40%; left: 60%; right: 0; background-color: rgba($overlay, .7);}
		@include sec-bgimage();background-image: url(image_path('welding2.jpg')); background-position: center center; position: relative; z-index: 0;
		&::before {@include before();  background-color: rgba(7,21,36, .9);}

		h4 {color: $blue; font-weight: bold; margin-bottom: 4px; text-transform: uppercase; span{font-weight: normal;}
			color:lighten($blue, 40%);
		}
		ul { padding-left: 15px; margin-bottom:15px;}
		li {margin-bottom: 10px; font-size: 16px;text-transform: uppercase;
			// color: $white;
		}
		h3 {font-size: 22px; color: $dk-blue; text-transform: uppercase;
			color: lighten($blue, 20%); font-weight: bold; margin-left: 10%; margin-bottom: 30px;
		}
		.block2 { padding: 50px 0px 25px; @include sec-default();
			.one, .two {display: inline-block; width:auto; padding:0px 0px 5px 20px; background-color: transparent; vertical-align: top; }
			.two {margin-left: 3%;}
			.one {margin-left: 10%; margin-right: 10%;}

			.uno, .dos {display: inline-block; vertical-align: top; margin-left: 15%; li {color:$white;}}
		}
	}
}

.bondstrand-pipe {
	.segmenter {
		height: 50vh;
		background-image: url(image_path('msr6-bw.jpg'));
		background-position: bottom center;
		z-index: 0;

		// &::before {
		// 	@include before ();
		// 	background-color: rgba($white, .1);
		// }
	}

	.trigger-headline { padding-top:20%;
		h1 {letter-spacing: 1.2vw; font-weight: bold; font-size: 3.5vw;}
		h2 {letter-spacing: .7vw; font-weight: bold; font-size: 2vw;}
	}

	.intro-banner {@include sec-default(); padding: 20px 50px 50px; text-align: center;
		h3 {margin-bottom: 5px; font-weight: bold; color: $blue;}
		p.sub {width: 55%; @include center-block();}
		.block {display: inline-block; width: 32%; padding:10px; margin: 30px 0; vertical-align: top; background-color: $blue; color: $white; padding: 30px; height:150px;}
	}

	.bondstrand-body {
		@include sec-default();
		color:$white;

		li {font-size: 17px; margin-bottom: 10px; }

		.list1 {
			@include sec-default();
			@include sec-bgimage();
			background-size: 40%;
			background-image: url(image_path('msr1-bw.jpg'));
			background-position: center left;
			position: relative;
			z-index: 0;
			background-color: $offwhite;
			padding: 30px 100px;
			h4 {float: left; width:35%; text-align: center; margin-top:20px; border: 1px solid $blue; padding:40px; }
			ul{width: 55%; float: right; margin: 20px 0;}

			&::before {
				@include before ();
				background-color: rgba($dk-blue, .9);
				z-index: -1;
			}

			&.v2 {
				background-size: 50%;
				background-position: center right;

				h4 {width: 45%; border: none; color:$white; padding:30px 0px; }
				ul{width: 40%; color:$white;}
			}
		}
		.list2 {
			@include sec-default();
			background-color: $blue;
			h4 {color: $blue;}
			ul {margin: 20px 0; color: $black}
		}

		.list3 {
			@include sec-default();
			padding:40px;
			color: $blue;
			h4 {color: $blue; width: 35%; display: inline-block;}
			ul {width: 55%; display: inline-block;}

			li {width: 45%; display: inline-block;}
		}
	}

	.bondstrand-body.v2 {
		@include sec-default();
		@include sec-bgimage();
		background-size: 50%;
		background-image: url(image_path('msr1-bw.jpg'));
		background-position: center left;
		position: relative;
		z-index: 0;
		padding: 20px 60px;

		&::before {
			@include before ();
			background-color: rgba($dk-blue, .92);
			z-index: -1;
		}

		.lista, .listb { width:48%; display: inline-block; padding:0 25px;}
		.lista {
			h4{font-size: 17px;}
			ul {width:80%; @include center-block();}
		}
		.listb {float: right; padding: 20px 25px;
			ul {margin-top: 25px; background-color: $white; color: $blue; padding: 20px 0; padding-left:14%;}
			li {width: 45%; display: inline-block; }
		}
	}
}

.photos, .gallery {
	.segmenter {
		height: 35vh;
		background-image: url(image_path('manatee1.jpg'));
	}
	.project-gallery {
		@include sec-default(); padding: 55px 40px;

		// .gall {width: 200px; height: 200px; display: inline-block; padding:5px; margin-bottom: 20px;}
		.gall {width: 19.5%; display: inline-block; padding:5px; margin-bottom: 20px;}
	}
}

.contact {

	.segmenter {
		height: 30vh;
		background-image: url(image_path('manatee3.jpg'));
		background-position: center center;
	}
	.trigger-headline {padding-top:14%;
		h1 {letter-spacing: 2vw; font-size: 4.5vw;}
		h2 {letter-spacing: 1vw; font-weight: bold; font-size: 2vw; display: none;}
	}

	.main-section {@include sec-default(); padding: 60px 0; background: $offwhite;}
	// .banner {
	// 	background-color: $blue;
	// 	height:300px;
	// 	width:70%; @include center-block();

	// 	.left{width:45%; display: inline-block; padding: 30px 40px;
	// 			color: $white;
	// 			hr {border-top: 1px solid rgba($white,.3);}
	// 			span, h3, p {text-transform: uppercase;}
	// 			span {letter-spacing: 3px; font-weight: bold;}
	// 			h3 {margin-bottom: 0;}
	// 	}
	// 	.right{width:54%;float: right; display: inline-block; background-color:$white; padding: 25px 25px 25px 75px;}
	// }

	.block-sec {width: 85%; @include center-block();
		.left-blk{width: 30%; display: inline-block; float: left;
			.block1 {@include sec-default(); @include sec-bgimage(); background-image: url(image_path('port-crane.jpg')); background-position:center center; position: relative;z-index: 0; padding: 30px; margin-bottom:30px;
				&::before {@include before (); background-color: rgba($dark, .85);}
				h3, p {text-transform: uppercase; color: $white;}
				h3 {font-weight: bold; span{letter-spacing: 3px}}
			}
			.block2 {@include sec-default(); background-color:$teal; padding: 30px 15px 30px 45px; color: $dark;
				h4.name {margin-bottom:5px; font-weight: bold; margin-top:20px;}
				h5 {margin-top: 0; font-size: 17px;}
			}
		}

		.right-blk { width: 65%; display: inline-block; float: right;
			.block{width: 47%; height: 200px; background-color: $white; padding: 35px 25px 15px 40px; display: inline-block; margin-bottom: 25px;
				&.a, &.c {float: left;}
				&.b, &.d {float: right;}
				&.a {text-align: center; padding: 20px 40px;  @include sec-bgimage(); background-image: url(image_path('opac-logo0.png'));
					background-position:bottom center; background-size: 80%; position: relative;z-index: 0;
					&::before {@include before(); background-color: rgba($white, .4);}
				}
				span {color: $teal; font-weight: bold; margin-bottom: 25px;}
				h4.address{padding-left: 20px;}
				a {font-weight: bold; }
			}
		}
	}

	.contact-box { @include sec-default(); @include sec-bgimage(); padding:30px; background-color: $blue; color: $white;}
}

.services {

	.custom-hd {
		@include sec-default();
		@include sec-bgimage();
		background-position: center center;
		background-image: url(image_path('msr8-bw.jpg'));
		position: relative;
		height:200px;
		z-index: 0;
		h1{ text-transform:uppercase; font-weight: bold; font-size: 3.5vw; float: right; padding-right:50px; color: $white; margin-top:120px; @include tshadow($black);}
	}

	.intro-banner-alt {@include sec-default();
		.block1 {width:65%; @include center-block(); background-color: $white; position: relative; z-index: 10; padding:60px 0 70px;}
		img{display: inline-block; width:31%; float: left; }
		.text {display: inline-block; width: 65%; float: none; padding: 15px 20px 20px;}
		h4 {color: $blue; font-weight: bold;}
		p {padding: 10px 20px;}
		.contact-link {@include sec-default(); padding:10px 5px; text-align: center; background-color: $blue; color: $white; font-size: 18px;margin-top: 10px;}
	}

	.section2 {
		@include sec-default();
		background-color: $offwhite;
		@include sec-bgimage();
		background-size: 80%;
		background-position: right center;
		background-image: url(image_path('msr1-bw.jpg'));
		position: relative;
		z-index: 0;
		&::before {@include before ();
			background: -webkit-linear-gradient(-100deg, rgba($dark, .9), rgba($dk-blue, .85));
			background: linear-gradient(-100deg, rgba($dark, .9), rgba($dk-blue, .85));
			left: 20%;
			width: 80%;
		}

		h4 {color: $blue; font-weight: bold; margin-bottom: 4px; text-transform: uppercase; span{font-weight: normal;}
			color:lighten($teal, 15%);
		}
		ul { padding-left: 15px; margin-bottom:15px;}
		li {margin-bottom: 10px; font-size: 16px; text-transform: uppercase;color:$white;}
		.lists { padding: 50px 0px 25px; width:70%; float: right;
			.uno, .dos {display: inline-block; margin-left: 5%;}
		}
		.contact-link { position: absolute; width:22%; left: 5%; margin-top: 10%; padding: 40px; text-align: center; background-color: $teal; color: $white; font-size: 20px;}
	}
}




// h1{ text-transform:uppercase; position:relative; top: 280px; float: right; z-index:2; font-weight: bold; font-size: 3.5vw; left: 3%; color: $teal;
	// 	-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);
	// 	-moz-transform-origin: 0 0;-ms-transform-origin: 0 0;-webkit-transform-origin: 0 0;transform-origin: 0 0;}
