// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";
.segmenter {@include sec-bgimage();}
.main-content {
	@include sec-default();
	padding: 25px 0;
	@include bp(md) {padding: 15px 0; }
}

.trigger-headline {color: $white; @include tshadow ($dark); padding-top:15%;
	h1 {letter-spacing: 4vw; font-weight: bold; font-size: 6vw; margin-bottom: 0;
		span {padding: 0 2vw; font-weight: bold; font-size: 6vw;}
	}
	h2 {letter-spacing: 1vw; font-weight: bold; font-size: 3vw; margin-top: 0;
		span {padding: 0 1vw; font-weight: bold; font-size: 3vw;}
	}
}

.home {
	.segmenter {
		height: 85vh;
		background-image: url(image_path('manatee1.jpg'));
		background-position: center center;
		// background-position: bottom center;
		// background-image: url(image_path('msr4.jpg'));
	}

	.trigger-headline { padding-top:13.5%;}

	.banner {@include sec-default(); text-align: center; padding: 15px 0 25px;
		&.one {width: 90%; @include center-block();}
		h3 {font-weight: bold;}
	}
	.mc-1 {padding: 30px 0px;
		h3 {font-size: 20px; line-height: 1.2em; position: relative; padding-left: 60px; margin-bottom: 30px;
			span {font-size: 16px; color: $blue; font-weight: bold; font-family: $oxy; }

			&::before {
				content: " ";
				position: absolute;
				width: 55px; height: 55px;
				top:0;
				left:0;
				@include sec-bgimage();
				background-image: url(image_path('anchor.png'));
			}
		}
	}

	@include bp(md) {
		.segmenter {height:50vh;}
		.trigger-headline {padding-top:27%;}

		.banner {padding: 0px;
			&.one {width: 95%;}
			h3 {font-size: 22px;}
		}

		.mc-1 {
			.img2, .img3 {display: none;}
			h3 {font-size: 19px;}
		}
	}
}

.services {
	.segmenter {
		height: 38vh;
		z-index: 0;
		// height: 44vh;
		// background-image: url(image_path('msr7.jpg')), url(image_path('msr6.jpg')), url(image_path('msr8.jpg'));
		// background-position: top left, top center, top right;
		// background-size: 34%, 33.5%, 33.5%;

		// background-image: url(image_path('msr7.jpg')), url(image_path('msr8.jpg'));
		// background-position: top left, top right;
		// background-size: 50.5%, 50%;
		background-image: url(image_path('msr7.jpg'));
		background-position: center center;

		&::before {
			@include before ();
			background-color: rgba($white, .3);
		}
	}

	.trigger-headline { padding-top:12%;
		h1 {letter-spacing: 1.5vw; font-weight: bold; font-size: 4vw;}
		h2 {letter-spacing: .7vw; font-weight: bold; font-size: 2vw;}
	}

	.main-section {@include sec-default(); background-color: $offwhite; }
	.intro-box { width: 35%; float: left; display: inline-block;
		.top {@include sec-default(); padding: 50px; padding-left: 120px;}
		.bottom {@include sec-default(); padding: 25px; padding-left: 120px; background-color: $blue; color: $white;}
		p {font-size: 16px; }}
	.content-box { width: 65%; display: inline-block; float: none; background-color: $white; padding: 30px 50px 20px 40px;
		// background-image: url(image_path('msr2.jpg')); background-position: center right; background-size: 55%; background-repeat: no-repeat; background-origin: content-box;
		h4 {color: $blue; font-weight: bold; margin-bottom: 4px;}
		ul { padding-left: 15px; margin-bottom:25px;}
		li {margin-bottom: 10px; font-size: 16px;}
	}
}

.bondstrand-pipe {
	.segmenter {
		height: 50vh;
		background-image: url(image_path('msr6-bw.jpg'));
		// background-image: url(image_path('msr6.jpg'));
		background-position: bottom center;
		z-index: 0;

		// &::before {
		// 	@include before ();
		// 	background-color: rgba($white, .1);
		// }
	}

	.trigger-headline { padding-top:20%;
		h1 {letter-spacing: 1.2vw; font-weight: bold; font-size: 3.5vw;}
		h2 {letter-spacing: .7vw; font-weight: bold; font-size: 2vw;}
	}

	.intro-banner {@include sec-default(); padding: 20px 50px 50px; text-align: center;
		h3 {margin-bottom: 5px; font-weight: bold; color: $blue;}
		p.sub {width: 55%; @include center-block();}
		.block {display: inline-block; width: 32%; padding:10px; margin: 30px 0; vertical-align: top; background-color: $blue; color: $white; padding: 30px; height:150px;}
	}

	.bondstrand-body {
		@include sec-default();
		color:$white;

		li {font-size: 17px; margin-bottom: 10px; }

		.list1 {
			@include sec-default();
			@include sec-bgimage();
			background-size: 40%;
			background-image: url(image_path('msr1-bw.jpg'));
			background-position: center left;
			position: relative;
			z-index: 0;
			background-color: $offwhite;
			padding: 30px 100px;
			h4 {float: left; width:35%; text-align: center; margin-top:20px; border: 1px solid $blue; padding:40px; }
			ul{width: 55%; float: right; margin: 20px 0;}

			&::before {
				@include before ();
				background-color: rgba($dk-blue, .9);
				z-index: -1;
			}

			&.v2 {
				background-size: 50%;
				background-position: center right;

				h4 {width: 45%; border: none; color:$white; padding:30px 0px; }
				ul{width: 40%; color:$white;}
			}
		}
		.list2 {
			@include sec-default();
			background-color: $blue;
			h4 {color: $blue;}
			ul {margin: 20px 0; color: $black}
		}

		.list3 {
			@include sec-default();
			padding:40px;
			color: $blue;
			h4 {color: $blue; width: 35%; display: inline-block;}
			ul {width: 55%; display: inline-block;}

			li {width: 45%; display: inline-block;}
		}
	}

	.bondstrand-body.v2 {
		@include sec-default();
		@include sec-bgimage();
		background-size: 50%;
		background-image: url(image_path('msr1-bw.jpg'));
		background-position: center left;
		position: relative;
		z-index: 0;
		padding: 20px 60px;

		&::before {
			@include before ();
			background-color: rgba($dk-blue, .92);
			z-index: -1;
		}

		.lista, .listb { width:48%; display: inline-block; padding:0 25px;}
		.lista {
			h4{font-size: 17px;}
			ul {width:80%; @include center-block();}
		}
		.listb {float: right; padding: 20px 25px;
			ul {margin-top: 25px; background-color: $white; color: $blue; padding: 20px 0; padding-left:14%;}
			li {width: 45%; display: inline-block; }
		}
	}
}







